.effects-editor {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-grow: 1;
  background: dimgrey;
  border-radius: 3px;
}

.effects-editor .effects-list {
  overflow-y: scroll;
  flex: 0 0 auto;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
  background: black;
}

.effects-editor .effects-chain {
  border-radius: 3px;
  margin: 3px;
  background: black;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.effects-editor .effects-chain .effect-control-panel {
  background-color: dimgrey;
  border-radius: 3px;
  flex: 0 0 auto;
  min-width: 200px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.effect-control-panel:last-child {
  border-right: 2px solid black;
}

.effect-control-panel .effect-header {
  margin: 2px;
  font-size: 0.75em;
  color: white;
  background-color: #444;
  border-radius: 3px;
  padding: 1px 3px;
  display: flex;
  flex-direction: row;
}

.effect-control-panel .control-group .label {
  margin-right: 5px;
}

.effect-control-panel .control-group .slider {
  flex: 1 0 auto;
  margin-right: 5px;
  margin-left: 5px;
}

.effect-header .name {
  flex: 1 0 auto;
}

.effect-header .bypass {
  flex: 0 0 auto;
}

.effects-editor .effects-list .effect-name {
  color: white;
  font-size: 0.75em;
}

.sortable-placeholder {
  border: 1px dotted white;
  border-radius: 3px;
  margin-right: 3px;
}

button.delete {
  border: 1px solid black;
  background-color: #888;
  color: darkred;
  border-radius: 3px;
  padding: 0 3px;
  margin-right: 5px;
}

.effects-location {
  background: dimgrey;
  display: flex;
  flex-direction: column;
}

.effects-location .location-name {
  font-family: monospace;
  font-size: 12px;
  color: white;
}

.effects-location .location-controls {
  flex: 1;
  border: 1px solid black;
  margin: 5px 0;
}
