<div class="effect-header">
  <div class="delete">
    <button class="delete"><span class="fa fa-close"></span></button>
  </div>
  <div class="name">${data.name}</div>
  <div class="bypass">
    <input type="checkbox" id="bypass" class="bypass" checked="true"/>
  </div>
</div>
