<div class="sample-mapper">
  <div class="graph">
    <canvas style="width:100%;height:100%;" class="graph-canvas"></canvas>
  </div>
  <div class="envelope-controls">
    <div class="control-panel">
      <div class="control-group">
        <div class="control">
          <button id="set-sample">Set</button>
        </div> 
      </div>
    </div>
  </div>
</div>
