<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks defaultTab" data-tabname="song-view">Song</a></li>
  <li><a href="javascript:void(0)" class="tablinks" data-tabname="instruments-view">Instruments</a></li>
</ul>
