<div class="tabs-container">
  <ul id="tabs" class="tabs">
  </ul>
  <div class="spacer"></div>
  <div id="tab-menu">
    <span class="fas fa-ellipsis-v"></span>
    <div class="dropdown-content" id="tab-menu-content">
      <a href="#" id="save-layout">Save Layout</a>
      <a href="#" id="load-layout">Load Layout</a>
      <a href="#" id="default-layout">Default Layout</a>
    </div>
    <div class="background-overlay"></div>
  </div>
</div>