<div class="control-group noborder left">
  <div class="control-group horizontal noborder left">
    <input type="file" id="file-input" hidden/>
    <label class="ui-button ui-corner-all ui-widget" for="file-input">Choose File</label>
    <span id="file-chosen">No file chosen</span>
  </div>
  <div class="control-group horizontal noborder left">
    <label for="url-input">URL</label>
    <input type="text" id="url-input"/>
  </div>
</div>