<div>
  <p>Recording song to webm format. Song will be downloaded on completion.</p>
  <div class="control-group horizontal noborder">
    <progress id="record-progress"></progress>
    <span id="record-seq"></span>
  </div>
</div>
