.button { /* stylelint-disable */
  border: 1px solid black;
  background: #444;
  color: #888;
}

.button.sm {
  padding: 2px;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.sm span.fa {
  font-size: 0.75em;
}

.button:focus {
  outline: none;
  border: 1px dotted darkorange;
}
