.instrumentList { /* stylelint-disable */
  font-family: monospace;
  font-size: 1em;
  overflow: auto;
}

.instrumentList div {
  padding-left: 0;
}


.instrumentList .instrumentNumber {
  margin: 0 5px;
  font-size: 80%;
  background-color: rgb(100,100,100);
  color: black;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  width: 30px;
  text-align: center;
  padding: 0;
}


.instrumentList button {
  width: calc(100% - 41px);
  text-align: left;
  font-size: 0.75em;
  padding: 0;
}

.instrumentList .selected {
  background: #040;
}

.instrumentList button:focus {
  outline: none;
  border: 1px dotted darkorange;
}
