.widget.monitors {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.monitors {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.monitors .monitors-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 0.75em;
  font-family: monospace;
  text-transform: uppercase;
}

.monitors .monitor {
  border: 1px solid gray;
  flex: 1;
  position: relative;
}

.monitors .monitor .track-name {
  position: absolute;
  left: 2px;
  top: 0;
  font-size: 1em;
  font-family: monospace;
  color: dimgrey;
}

.monitors .monitor-empty {
  background:
    repeating-linear-gradient(
      45deg,
      #222,
      #222 10px,
      #111 10px,
      #111 20px
    );
}

.monitors .blank {
  flex: 1;
}
