.widget.instrument-editor {
  display: flex;
  background: #444;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.instrument {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.instrument .waveform {
  height: 100%;
}

.instrument .waveform canvas.dragging {
  cursor: crosshair;
}

.instrument .waveform canvas.moveable {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.instrument .waveform canvas.moveable:active {
  cursor: move;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
