.widget.instrument-editor, .widget.instrument-controls {
  display: flex;
  background: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.instrument {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.instrument .waveform {
  flex: 1;
}

.instrument canvas {
  width: 100%;
  height: 100%;
}

.instrument .waveform canvas.dragging {
  cursor: crosshair;
}

.instrument .waveform canvas.moveable {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.instrument .waveform canvas.moveable:active {
  cursor: move;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.widget.instrument-editor .control-panel {
  flex-grow: 0;
}

.control-group.pointbuttons, .control-group.relnote-buttons {
  flex-direction: row;
}

