/* app css stylesheet */

.pattern-editor {
  height: 100%;
  overflow: hidden;
  background: #000;
}

.pattern-editor table {
  background: black;
}

.pattern-editor th,
.pattern-editor td {
  white-space: nowrap;
  border-right: 1px solid white;
  color: white;
}

.pattern-editor td {
  font-family: monospace;
}

.trackview {
  background: #000;
}

.track-header {
  box-sizing: border-box;
}

.time-header {
  box-sizing: border-box;
}

.track-header span {
  width: 100%;
  text-align: center;
}

.track-controls {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.row .tick {
  color: #999;
  font-family: monospace;
  width: 40px;
  line-height: 1;
}

.pattern-cursor-row .tick {
  color: #FFF;
}

.beat-row {
  background: #333;
}

.pattern-cursor-row {
  background: rgb(10, 50, 10);
}

.pattern-play-cursor-row {
  background: rgb(10, 80, 80);
}

.note-column {
  display: inline-block;
}

.line {
  font-family: monospace;
  line-height: 1;
}

.line .note,
.line .instrument,
.line .volume,
.line .panning,
.line .delay,
.line .fx {
  margin-right: 2px;
  display: inline-block;
}

.line .note {
  color: #669;
  width: 25px;
  margin-left: 5px;
}

.pattern-cursor-row .line .note {
  color: #CCF;
}

.pattern-cursor-row .line .note.event-cursor {
  color: #113;
}

.line .instrument {
  color: #966;
  width: 18px;
}

.pattern-cursor-row .line .instrument {
  color: #FCC;
}

.pattern-cursor-row .line .instrument.event-cursor {
  color: #311;
}

.line .volume {
  color: #666;
  width: 18px;
}

.pattern-cursor-row .line .volume {
  color: #CCC;
}

.pattern-cursor-row .line .volume.event-cursor {
  color: #111;
}

.line .panning {
  color: #969;
  width: 18px;
}

.pattern-cursor-row .line .panning {
  color: #FCF;
}

.pattern-cursor-row .line .panning.event-cursor {
  color: #313;
}

.line .delay {
  color: #996;
  width: 18px;
}

.pattern-cursor-row .line .delay {
  color: #FFC;
}

.pattern-cursor-row .line .delay.event-cursor {
  color: #331;
}

.line .fx {
  color: #888;
  width: 36px;
}

.pattern-cursor-row .line .fx {
  color: #FFF;
  box-sizing: border-box;
}

.pattern-cursor-row .line .fx.event-cursor {
  color: #333;
}

.xscroll .leftSideTable,
.xscroll .sideTable {
  width: 930px;
  overflow: auto;
}

.xscroll {
  overflow: auto;
}

.timeline {
  overflow: hidden;
}

.track-color {
  width: 90%;
  margin-left: 5%;
  height: 8px;
  border-radius: 2px;
}

.event-cursor {
  background: rgb(0, 150, 0);
}
