
<div class="browser">
  <div class="controls">
    <div class="control-panel">
      <div class="control-group">
        <div class="control">
          <button id="songs">Songs</button>
        </div>
      </div>
    </div>
  </div>
  <div class="item-list"></div>
</div>
