<div class="piano widget-with-controls widget-controls-horiz">
  <div class="control-panel">
    <div id="octave-down-button" class="octave-button">
      <button id="set-sample">&lt;</button>
    </div>
  </div>
  <div class="keys">
    <canvas style="width:100%;height:100%;" class="keys-canvas"></canvas>
  </div>
  <div class="control-panel">
    <div id="octave-up-button" class="octave-button">
      <button id="set-sample">&gt;</button>
    </div>
  </div>
</div>
