<div class="effects-editor">
  <div class="effects-list">
    <div class="effect-name" for(effect in data.effects)>${effect.name}</div>
  </div>
  <div id="effects-chain" class="effects-chain">
  </div>
</div>
