.widget.sequence-editor {
  overflow-y: hidden;
  flex: 1;
}

.sequence {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
  font-family: monospace;
  margin-right: 0;
}

.sequence .sequence-row {
  display: flex;
  border-left: 2px solid rgba(0,0,0,0);
  padding: 2px;
  flex-shrink: 0;
  overflow-x: hidden;
}

.sequence .sequence-row.current-pattern {
  border: 2px solid #444;
  border-radius: 3px;
}

.sequence .sequence-index {
  display: table-cell;
  text-align: center;
  min-width: 24px;
}

.sequence .sequence-index div {
  padding: 0 3px;
  border: 1px solid gray;
  border-radius: 2px;
}

.sequence .sequence-row.current-pattern .sequence-index div {
  background: #090;
}

.sequence .sequence-pattern {
  display: table-cell;
  text-align: left;
  overflow: hidden;
}

.sequence .sequence-pattern div {
  padding-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sequence .sequence-top-padding, .sequence .sequence-bottom-padding {
  flex-shrink: 0;
}

