.list-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: monospace;
  margin-right: 3px;
  overflow: hidden;
  flex: 1 1 auto;
}

.sequence .sequence-row {
  display: flex;
  border-left: 2px solid rgba(0, 0, 0, 0);
  padding: 2px;
  overflow-x: hidden;
  justify-content: center;
}

.sequence .sequence-row.current-pattern {
  border: 2px solid #444;
  border-radius: 3px;
}

.sequence .sequence-index,
.sequence .sequence-pattern {
  display: table-cell;
  text-align: center;
  min-width: 24px;
}

.sequence .sequence-index {
  min-width: 24px;
  margin-right: 5px;
}

.sequence .sequence-pattern {
  background-color: #014D6E;
}

.sequence .sequence-index div,
.sequence .sequence-pattern div {
  padding: 0 3px;
  border: 1px solid gray;
  border-radius: 3px;
}

.sequence .sequence-pattern div {
  border-color: white;
}

.sequence .sequence-row.current-pattern .sequence-index div {
  background: #090;
}

.sequence .sequence-top-padding,
.sequence .sequence-bottom-padding {
  flex-shrink: 0;
}

.sequence-controls .control-panel {
  justify-content: center;
}
