/* app css stylesheet */

.pattern-editor {
  height: 100%;
  overflow: hidden;
  background: #000;
}

.pattern-editor table {
  background: black;
}

.pattern-editor th,
.pattern-editor td {
  white-space: nowrap;
  border-right: 1px solid white;
  color: white;
}

.pattern-editor td {
  font-family: monospace;
}

.trackview {
  display: flex;
  background-color: #000;
  color: #FFF;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1 1 auto;
  height: 100%;
}

.track-header {
  width: 150px;
  box-sizing: border-box;
  height: 24px;
}

.time-header {
  box-sizing: border-box;
  height: 24px;
}

.track-header span {
  width: 100%;
  text-align: center;
}

.tick {
  color: #999;
  font-family: monospace;
  width: 40px;
  line-height: 1;
}

.track-time .line.current-row .tick {
  color: #FFF;
}

.pattern-cursor {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background: rgba(10, 100, 10, 0.1);
}

.beat-row {
  background: #333;
}

.current-row {
  background: #131;
}

.line {
  font-family: monospace;
  width: 150px;
  line-height: 1;
}

.line .note,
.line .instrument,
.line .volume,
.line .panning,
.line .delay,
.line .fx {
  margin-right: 2px;
  display: inline-block;
}

.line .note {
  color: #669;
  width: 25px;
  margin-left: 5px;
}

.line.current-row .note {
  color: #CCF;
}

.line .instrument {
  color: #966;
  width: 18px;
}

.line.current-row .instrument {
  color: #FCC;
}

.line .volume {
  color: #666;
  width: 18px;
}

.line.current-row .volume {
  color: #CCC;
}

.line .panning {
  color: #969;
  width: 18px;
}

.line.current-row .panning {
  color: #FCF;
}

.line .delay {
  color: #996;
  width: 18px;
}

.line.current-row .delay {
  color: #FFC;
}

.line .fx {
  color: #888;
  width: 36px;
}

.line.current-row .fx {
  color: #FFF;
  box-sizing: border-box;
}

.xscroll div#leftSideTable,
.xscroll div#sideTable {
  width: 930px;
  overflow: auto;
}

.xscroll {
  overflow: auto;
}

#col1 {
  overflow: hidden;
}
