/* app css stylesheet */

.pattern-editor table {
  background: black;
}

.pattern-editor th,
.pattern-editor td {
  white-space: nowrap;
  border-right: 1px solid white;
  color: white;
}

.pattern-editor td {
  font-family: monospace;
}

.trackview {
  display: flex;
  background-color: #000;
  color: #FFF;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1 1 auto;
  height: 100%;
}

.tracks {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1 1 auto;
}

.track {
  flex: 0 0 auto;
  border: 1px solid #FFF;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.track-header {
  flex: 0 0 auto;
  display: flex;
}

.track-header span {
  width: 100%;
  text-align: center;
}

.track-time {
  flex: 0 0 auto;
  border: 1px solid #FFF;
  padding: 5px;
}

.tick {
  color: #999;
  font-family: monospace;
}

.track-time .line.current-row .tick {
  color: #FFF;
}

.current-row {
  background-color: #131;
}

.line {
  font-family: monospace;
}

.line .note {
  color: #669;
}

.line.current-row .note {
  color: #CCF;
}

.line .instrument {
  color: #966;
}

.line.current-row .instrument {
  color: #FCC;
}

.line .volume {
  color: #666;
}

.line.current-row .volume {
  color: #CCC;
}

.line .panning {
  color: #969;
}

.line.current-row .panning {
  color: #FCF;
}

.line .delay {
  color: #996;
}

.line.current-row .delay {
  color: #FFC;
}
