.control-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.control-group {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  margin: 3px;
  justify-content: space-between;
  flex-shrink: 0;
}

.control-group.horizontal {
  flex-direction: row;
}

.control-group.noborder {
  border: 0;
}

.horizontal-buttons {
  flex-direction: row;
  padding: 3px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  font-size: 0.75em;
}

button { /* stylelint-disable */
  border: 1px solid black;
  background: #444;
  color: #888;
}

button.sm {
  padding: 2px;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.fa {
  font-size: initial;
  padding: 2px;
  width: 22px;
  height: 22px;
}

button:focus {
  outline: none;
  border: 1px dotted darkorange;
}

.range {
}

.control label {
  margin-right: 3px;
  color: #888;
}

.control input {
  width: 40px;
  border: 1px solid black;
  background: #222;
  text-align: center;
  color: #888;
}

.range input:focus {
  outline: none;
  border: 1px dotted darkorange;
}

input.inline-editor {
  font-size: 0.75em;
}

input.inline-editor:focus {
  outline: none;
  border: none;
  background-color: rgba(0,128,0,0.5);
}

.control select {
  border: 1px solid black;
  color: #888;
}

.control .slider {
  min-width: 100px;
}

.slider.ui-slider {
  border-color: black;
  box-shadow: inset 1px 1px 3px #000;
  background-color: #444;
}

.slider .ui-slider-handle {
  border-radius: 50%;
  background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-color: black;
  box-shadow: 1px 1px 3px #000;
}

.slider .ui-slider-handle:focus {
  outline: none;
}

