html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: 100%;
  height: calc(100% - 30px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

#header2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  background: #333;
  height: 20px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

#tabs {
  flex: 1;
}

#vumeters {
  background: #300;
  flex: 1;
  margin: 2px;
  border-left: 1px solid black;
}

#tabscontainer {
  flex: 1;
}

.sidebar {
  width: 20px;
  background-size: 20px auto;
  background-repeat: repeat-y;
}

.sidebar.left {
  background-image: url('../static/rail-l.png');
}

.sidebar.right {
  background-image: url('../static/rail-r.png');
}

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 100%;
}

/* Float the list items side by side */
ul.tab li {
  float: left;
  line-height: 1;
  height: 100%;
}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: dimgray;
  text-align: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  transition: 0.3s;
  font-size: 12px;
  border-color: dimgray;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
  height: 100%;
}

ul.tab li:first-of-type a {
  margin-left: 5px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
  background-color: #333;
}

/* Create an active/current tablink class */
ul.tab li a.active {
  background-color: #555;
  color: white;
}

.chrome {
  border: 4px solid dimgray;
  padding: 3px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.widget {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.widget-with-controls {
  display: flex;
}

.widget-with-controls .widget-controls-horiz {
  flex-direction: row;
}

.widget-with-controls .widget-controls-vert {
  flex-direction: column;
}

.widget-with-controls .widget-controls {
  background: #444;
  border-radius: 3px;
}

.widget-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.widget-titlebar {
  height: 16px;
  background: #444;
  margin-bottom: 5px;
  border-radius: 2px;
  font-size: 12px;
  color: dimgray;
  padding-left: 3px;
}

.grid-stack > .grid-stack-item[data-gs-width='50'] { width: 100%; }
.grid-stack > .grid-stack-item[data-gs-width='49'] { width: 98%; }
.grid-stack > .grid-stack-item[data-gs-width='48'] { width: 96%; }
.grid-stack > .grid-stack-item[data-gs-width='47'] { width: 94%; }
.grid-stack > .grid-stack-item[data-gs-width='46'] { width: 92%; }
.grid-stack > .grid-stack-item[data-gs-width='45'] { width: 90%; }
.grid-stack > .grid-stack-item[data-gs-width='44'] { width: 88%; }
.grid-stack > .grid-stack-item[data-gs-width='43'] { width: 86%; }
.grid-stack > .grid-stack-item[data-gs-width='42'] { width: 84%; }
.grid-stack > .grid-stack-item[data-gs-width='41'] { width: 82%; }
.grid-stack > .grid-stack-item[data-gs-width='40'] { width: 80%; }
.grid-stack > .grid-stack-item[data-gs-width='39'] { width: 78%; }
.grid-stack > .grid-stack-item[data-gs-width='38'] { width: 76%; }
.grid-stack > .grid-stack-item[data-gs-width='37'] { width: 74%; }
.grid-stack > .grid-stack-item[data-gs-width='36'] { width: 72%; }
.grid-stack > .grid-stack-item[data-gs-width='35'] { width: 70%; }
.grid-stack > .grid-stack-item[data-gs-width='34'] { width: 68%; }
.grid-stack > .grid-stack-item[data-gs-width='33'] { width: 66%; }
.grid-stack > .grid-stack-item[data-gs-width='32'] { width: 64%; }
.grid-stack > .grid-stack-item[data-gs-width='31'] { width: 62%; }
.grid-stack > .grid-stack-item[data-gs-width='30'] { width: 60%; }
.grid-stack > .grid-stack-item[data-gs-width='29'] { width: 58%; }
.grid-stack > .grid-stack-item[data-gs-width='28'] { width: 56%; }
.grid-stack > .grid-stack-item[data-gs-width='27'] { width: 54%; }
.grid-stack > .grid-stack-item[data-gs-width='26'] { width: 52%; }
.grid-stack > .grid-stack-item[data-gs-width='25'] { width: 50%; }
.grid-stack > .grid-stack-item[data-gs-width='24'] { width: 48%; }
.grid-stack > .grid-stack-item[data-gs-width='23'] { width: 46%; }
.grid-stack > .grid-stack-item[data-gs-width='22'] { width: 44%; }
.grid-stack > .grid-stack-item[data-gs-width='21'] { width: 42%; }
.grid-stack > .grid-stack-item[data-gs-width='20'] { width: 40%; }
.grid-stack > .grid-stack-item[data-gs-width='19'] { width: 38%; }
.grid-stack > .grid-stack-item[data-gs-width='18'] { width: 36%; }
.grid-stack > .grid-stack-item[data-gs-width='17'] { width: 34%; }
.grid-stack > .grid-stack-item[data-gs-width='16'] { width: 32%; }
.grid-stack > .grid-stack-item[data-gs-width='15'] { width: 30%; }
.grid-stack > .grid-stack-item[data-gs-width='14'] { width: 28%; }
.grid-stack > .grid-stack-item[data-gs-width='13'] { width: 26%; }
.grid-stack > .grid-stack-item[data-gs-width='12'] { width: 24%; }
.grid-stack > .grid-stack-item[data-gs-width='11'] { width: 22%; }
.grid-stack > .grid-stack-item[data-gs-width='10'] { width: 20%; }
.grid-stack > .grid-stack-item[data-gs-width='9'] { width: 18%; }
.grid-stack > .grid-stack-item[data-gs-width='8'] { width: 16%; }
.grid-stack > .grid-stack-item[data-gs-width='7'] { width: 14%; }
.grid-stack > .grid-stack-item[data-gs-width='6'] { width: 12%; }
.grid-stack > .grid-stack-item[data-gs-width='5'] { width: 10%; }
.grid-stack > .grid-stack-item[data-gs-width='4'] { width: 8%; }
.grid-stack > .grid-stack-item[data-gs-width='3'] { width: 6%; }
.grid-stack > .grid-stack-item[data-gs-width='2'] { width: 4%; }
.grid-stack > .grid-stack-item[data-gs-width='1'] { width: 2%; }

.grid-stack > .grid-stack-item[data-gs-x='50'] { left: 100%; }
.grid-stack > .grid-stack-item[data-gs-x='49'] { left: 98%; }
.grid-stack > .grid-stack-item[data-gs-x='48'] { left: 96%; }
.grid-stack > .grid-stack-item[data-gs-x='47'] { left: 94%; }
.grid-stack > .grid-stack-item[data-gs-x='46'] { left: 92%; }
.grid-stack > .grid-stack-item[data-gs-x='45'] { left: 90%; }
.grid-stack > .grid-stack-item[data-gs-x='44'] { left: 88%; }
.grid-stack > .grid-stack-item[data-gs-x='43'] { left: 86%; }
.grid-stack > .grid-stack-item[data-gs-x='42'] { left: 84%; }
.grid-stack > .grid-stack-item[data-gs-x='41'] { left: 82%; }
.grid-stack > .grid-stack-item[data-gs-x='40'] { left: 80%; }
.grid-stack > .grid-stack-item[data-gs-x='39'] { left: 78%; }
.grid-stack > .grid-stack-item[data-gs-x='38'] { left: 76%; }
.grid-stack > .grid-stack-item[data-gs-x='37'] { left: 74%; }
.grid-stack > .grid-stack-item[data-gs-x='36'] { left: 72%; }
.grid-stack > .grid-stack-item[data-gs-x='35'] { left: 70%; }
.grid-stack > .grid-stack-item[data-gs-x='34'] { left: 68%; }
.grid-stack > .grid-stack-item[data-gs-x='33'] { left: 66%; }
.grid-stack > .grid-stack-item[data-gs-x='32'] { left: 64%; }
.grid-stack > .grid-stack-item[data-gs-x='31'] { left: 62%; }
.grid-stack > .grid-stack-item[data-gs-x='30'] { left: 60%; }
.grid-stack > .grid-stack-item[data-gs-x='29'] { left: 58%; }
.grid-stack > .grid-stack-item[data-gs-x='28'] { left: 56%; }
.grid-stack > .grid-stack-item[data-gs-x='27'] { left: 54%; }
.grid-stack > .grid-stack-item[data-gs-x='26'] { left: 52%; }
.grid-stack > .grid-stack-item[data-gs-x='25'] { left: 50%; }
.grid-stack > .grid-stack-item[data-gs-x='24'] { left: 48%; }
.grid-stack > .grid-stack-item[data-gs-x='23'] { left: 46%; }
.grid-stack > .grid-stack-item[data-gs-x='22'] { left: 44%; }
.grid-stack > .grid-stack-item[data-gs-x='21'] { left: 42%; }
.grid-stack > .grid-stack-item[data-gs-x='20'] { left: 40%; }
.grid-stack > .grid-stack-item[data-gs-x='19'] { left: 38%; }
.grid-stack > .grid-stack-item[data-gs-x='18'] { left: 36%; }
.grid-stack > .grid-stack-item[data-gs-x='17'] { left: 34%; }
.grid-stack > .grid-stack-item[data-gs-x='16'] { left: 32%; }
.grid-stack > .grid-stack-item[data-gs-x='15'] { left: 30%; }
.grid-stack > .grid-stack-item[data-gs-x='14'] { left: 28%; }
.grid-stack > .grid-stack-item[data-gs-x='13'] { left: 26%; }
.grid-stack > .grid-stack-item[data-gs-x='12'] { left: 24%; }
.grid-stack > .grid-stack-item[data-gs-x='11'] { left: 22%; }
.grid-stack > .grid-stack-item[data-gs-x='10'] { left: 20%; }
.grid-stack > .grid-stack-item[data-gs-x='9'] { left: 18%; }
.grid-stack > .grid-stack-item[data-gs-x='8'] { left: 16%; }
.grid-stack > .grid-stack-item[data-gs-x='7'] { left: 14%; }
.grid-stack > .grid-stack-item[data-gs-x='6'] { left: 12%; }
.grid-stack > .grid-stack-item[data-gs-x='5'] { left: 10%; }
.grid-stack > .grid-stack-item[data-gs-x='4'] { left: 8%; }
.grid-stack > .grid-stack-item[data-gs-x='3'] { left: 6%; }
.grid-stack > .grid-stack-item[data-gs-x='2'] { left: 4%; }
.grid-stack > .grid-stack-item[data-gs-x='1'] { left: 2%; }

.grid-stack > .grid-stack-item > .grid-stack-item-content.chrome {
  left: 2.5px;
  right: 2.5px;
  background: black;
  display: flex;
  flex-direction: column;
}

.grid-stack .grid-stack-placeholder > .placeholder-content {
  border: 1px dashed lightgray;
  margin: 0;
  left: 2.5px;
  right: 2.5px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw,
.grid-stack > .grid-stack-item > .ui-resizable-ne,
.grid-stack > .grid-stack-item > .ui-resizable-nw {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.grid-stack > .grid-stack-item > .ui-resizable-nw {
  cursor: nw-resize;
  width: 20px;
  height: 20px;
  left: -3px;
  top: -6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-n {
  cursor: n-resize;
  height: 10px;
  top: 0;
  left: 25px;
  right: 25px;
}

.grid-stack > .grid-stack-item > .ui-resizable-ne {
  cursor: ne-resize;
  width: 20px;
  height: 20px;
  right: -4px;
  top: -6px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-e {
  cursor: e-resize;
  width: 10px;
  right: 10px;
  top: 15px;
  bottom: 15px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  cursor: se-resize;
  width: 20px;
  height: 20px;
  right: -4px;
  bottom: -6px;
}

.grid-stack > .grid-stack-item > .ui-resizable-s {
  cursor: s-resize;
  height: 10px;
  left: 25px;
  bottom: 0;
  right: 25px;
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
  cursor: sw-resize;
  width: 20px;
  height: 20px;
  left: -4px;
  bottom: -6px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-w {
  cursor: w-resize;
  width: 10px;
  left: 10px;
  top: 15px;
  bottom: 15px;
}

.grid-stack {
  margin-bottom: 5px;
  margin-top: 5px;
}
