html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
}
.pattern-editor {
  display: flex;
  background: #444;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pattern-editor table {
  background: black;
}

.pattern-editor th,
.pattern-editor td {
  white-space: nowrap;
  border-right: 1px solid gray;
  color: white;
}

.pattern-editor td {
  font-family: monospace;
}

.trackview {
  background: #000;
}

.track-header, .timeline-header {
  box-sizing: border-box;
  background: #222;
  border-bottom: 1px solid gray;
}

#timeline-header {
  background: #222;
  border-right: 1px solid gray;
}

.track-header span {
  width: 100%;
  text-align: center;
}

.track-controls {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.row .tick, .ghost-row .tick {
  color: #999;
  font-family: monospace;
  width: 40px;
  line-height: 1;
}

.pattern-cursor-row .tick {
  color: #FFF;
}

.beat-row, .ghost-beat-row {
  background: #333;
}

.pattern-cursor-row {
  background: rgb(10, 50, 10);
}

.pattern-play-cursor-row {
  background: rgb(10, 80, 80);
}

.note-column {
  display: flex;
}

.line, .ghost-line {
  font-family: monospace;
  line-height: 1;
  display: flex;
}

.line .item,
.ghost-line .item {
  margin-right: 2px;
  display: inline-block;
}

.line .note {
  color: #669;
  width: 25px;
  margin-left: 5px;
}

.pattern-cursor-row .line .note {
  color: #CCF;
}

.pattern-cursor-row .line .note.event-cursor {
  color: #113;
}

.line .instrument {
  color: #966;
  width: 18px;
}

.pattern-cursor-row .line .instrument {
  color: #FCC;
}

.pattern-cursor-row .line .instrument.event-cursor {
  color: #311;
}

.line .volume, .ghost-line .volume {
  color: #666;
  width: 18px;
}

.pattern-cursor-row .line .volume {
  color: #CCC;
}

.pattern-cursor-row .line .volume.event-cursor {
  color: #111;
}

.line .panning, .ghost-line .panning {
  color: #969;
  width: 18px;
}

.pattern-cursor-row .line .panning {
  color: #FCF;
}

.pattern-cursor-row .line .panning.event-cursor {
  color: #313;
}

.line .delay {
  color: #996;
  width: 18px;
}

.pattern-cursor-row .line .delay {
  color: #FFC;
}

.pattern-cursor-row .line .delay.event-cursor {
  color: #331;
}

.line .fx {
  color: #888;
  width: 36px;
}

.pattern-cursor-row .line .fx {
  color: #FFF;
  box-sizing: border-box;
}

.pattern-cursor-row .line .fx.event-cursor {
  color: #333;
}

.ghost-line .item {
  color: #444;
}


.xscroll .leftSideTable,
.xscroll .sideTable {
  width: 930px;
  overflow: auto;
}

.xscroll {
  overflow: auto;
  float: left;
}

#timeline {
  overflow: hidden;
}

.track-color {
  width: 90%;
  margin-left: 5%;
  height: 8px;
  border-radius: 2px;
}

.event-cursor {
  background: rgb(0, 150, 0);
}

.chrome {
  border: 4px solid dimgray;
  padding: 5px;
  border-radius: 2px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content.chrome {
  left: 2.5px;
  right: 2.5px;
  background: black;
}

.grid-stack .grid-stack-placeholder > .placeholder-content {
  border: 1px dashed lightgray;
  margin: 0;
  left: 2.5px;
  right: 2.5px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se,
.grid-stack > .grid-stack-item > .ui-resizable-sw, 
.grid-stack > .grid-stack-item > .ui-resizable-ne, 
.grid-stack > .grid-stack-item > .ui-resizable-nw {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.grid-stack > .grid-stack-item > .ui-resizable-nw {
  cursor: nw-resize;
  width: 20px;
  height: 20px;
  left: -3px;
  top: -6px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-n {
  cursor: n-resize;
  height: 10px;
  top: 0;
  left: 25px;
  right: 25px;
}

.grid-stack > .grid-stack-item > .ui-resizable-ne {
  cursor: ne-resize;
  width: 20px;
  height: 20px;
  right: -4px;
  top: -6px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-e {
  cursor: e-resize;
  width: 10px;
  right: 10px;
  top: 15px;
  bottom: 15px;
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
  cursor: se-resize;
  width: 20px;
  height: 20px;
  right: -4px;
  bottom: -6px;
}

.grid-stack > .grid-stack-item > .ui-resizable-s {
  cursor: s-resize;
  height: 10px;
  left: 25px;
  bottom: 0;
  right: 25px;
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
  cursor: sw-resize;
  width: 20px;
  height: 20px;
  left: -4px;
  bottom: -6px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.grid-stack > .grid-stack-item > .ui-resizable-w {
  cursor: w-resize;
  width: 10px;
  left: 10px;
  top: 15px;
  bottom: 15px;
}

.grid-stack {
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-stack-item-content span {
  color: white;
  font-size: 1em;
}
