#transport {
  position: fixed;
  top: 0px;
  background: #333;
  height: 30px;
  width: 100%;
  z-index: 100;
}

.transport {
  display: flex;
  flex-direction: row;
  background: #333;
  padding: 2px 0;
}

.transport .item {
  margin: 0 5px;
}

